<head>
    {%load static%}
    <title>Welcome</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'css/home.css' %}">  
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">  
    <script>
        function bar(){
            document.getElementById('sidebar').classList.toggle('active');
        }
        bar();
    </script>  
</head>    
    <body>
        <div id="sidebar" class="shadow-lg">
            <div class="togglemenu" onclick="bar()">
                <span></span>
                <span></span>
                <span></span>
                
            </div>
        <div class="">
            <a class="navs" href="#"><i class="fa-solid fa-envelope"></i> Messages</a>
            <a class="navs" href="#"><i class="fa-solid fa-person-cane"></i> Staffs Attandance</a>
            <a class="navs" href="#"><i class="fa-solid fa-plus"></i> Add students</a> 
            <a class="navs" href="#"><i class="fa-solid fa-trash"></i> Remove students</a>
            <a class="navs" href="#"><i class="fa-solid fa-list"></i> Students list</a>
            <a class="navs" href="#"><i class="fa-solid fa-download fa-beat-fade"></i> Reports</a>
        </div>
              
        </div>
        <div>
            <h1 class="pl">
                {{greet}}
            </h1>
            <div class="container pt-2 ">
                <div class="row">
                    <div class="col-sm-4 pt-2">
                        <div class="card bg-primary">
                            <div class="card-body">
                                <h5 class="card-title">Staffs</h5>
                                <p class="card-text display-4">5</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 pt-2">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Boys</h5>
                                <p class="card-text display-4">23</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 pt-2">
                        <div class="card">
                            <div class="card-body girls">
                                <h5 class="card-title">Girls</h5>
                                <p class="card-text display-4">12</p>
                           
                            </div> 
                        </div>
                    </div>
                </div>
            </div> 
        </div>
        
          
    </body>
   

